<header>
  <h4>Configure your profile</h4>
</header>

<div id="error_msg" class="alert error" style="display: none;"></div>

<div>
  <span class="aside">Name</span>
  <input id="name" type="text" placeholder="My name is..." {{#configured}}value="{{name}}" disabled="disabled"{{/configured}} />

  <span class="aside">User Code</span>
  <input id="user_code" type="text" {{#configured}}value="{{userCode}}" disabled="disabled"{{/configured}} />

  <span class="aside">App Code</span>
  <input id="app_code" type="text" {{#configured}}value="{{appCode}}"{{/configured}} />
</div>

<div>
  <span class="aside">App Theme</span>
  <select id="theme">
    <option value="light">Light (default)</option>
    <option value="dark">Dark</option>
  </select>
</div>

<div class="configure-controls">
  {{^configured}}
  <a id="create" class="btn btn-secondary dont-route">Create</a>
  {{/configured}}
  <a id="login" class="btn btn-secondary dont-route">Login</a>
</div>
