<header>
  <h4>Create Exercise</h4>
</header>

<div id="error_msg" class="alert error" style="display: none;"></div>

<form method="POST" action="/api/exercises">
  <table>
    <thead>
      <th></th>
      <th></th>
    <tbody>
      <tr>
        <td>
          <label>Name</label>
        </td>
        <td>
          <input type="text" name="name" />
        </td>
      </tr>

      <tr>
        <td>
          <label>Type</label>
        </td>
        <td>
          <select name="type">
            {{#each types}}
            <option name="{{name}}" value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <input type="text" name="description" />
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary">Create</button>
</form>
