<span class="toggle btn btn-large btn-secondary">{{name}}</span>
<div class="hidden">
  <span>
    <i>{{#if description}}{{description}}{{else}}No description available{{/if}}</i>
  </span>

  <br />

  <a href class="select dont-route">Let's do it</a>
</div>
