ul.btn-list, ul.link-list
  list-style-type: none
  margin: 0

  li
    list-style-type: none

ul.btn-list li
  margin-bottom: 10px

  .btn
    width: 100%
    padding: 5px 0

    &:visited
      color: #000

ul.link-list li
  margin: 5px 0
