@import nib
@import constants

.subheader
    margin-bottom: 10px

#history
    text-align: center


.btn-decrement
    position: absolute
    cursor: pointer
    top: 0
    right: 0
    height: 100%
    width: 60px
    z-index: 10

    span
        margin: 7px 0 0 30px

.macro-replacement
    margin-bottom: 10px

.total
    font-style: italic

.aside
    display: block
    font-style: italic
    font-size: 10px
    color: #AAA

.with-top-margin
    margin-top: 15px

.configure-controls
    margin: 10px 0

.portion-controls, .create-controls
    margin-top: 20px
    margin-bottom: 50px

    label
        font-style: italic

    .controls
        margin-top: 20px
